<h1>Avalon II</h1>
<h2><i>Arthur's Choice</i></h2>

<%= form_with model: Game.new, url: 'games/find' do |f| %>
  <%= label_tag :slug, 'Enter the name of an existing game:' %>
  <%= f.text_field :slug %>
  <%= f.submit "Next" %>
<% end %>

<p>Or:</p>
<%= link_to 'Make new game', new_game_path %>
