<h1>Make new game</h1>

<%= form_with model: @game do |f| %>
  <%= label_tag :number_of_players, 'How many players are there?'%>
  <%= f.number_field :number_of_players, min: 3, max: 20 %>
  <%= label_tag :slug, 'Enter a name for the game:' %>
  <%= f.text_field :slug %>
  <%= f.submit "Begin" %>
<% end %>
